@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0e0f10;
}

h1{
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 1.3em;
    font-size: 2.5em;
}

h2{
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1.5em;
}

h4{
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.5em;
}

p{
    font-weight: 400;
    letter-spacing: 1.5px;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.fa{
    font-family: 'FontAwesome';
}

a:hover{
    text-decoration: none;
}

button {
  background: none;
  border: 3px solid #000;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  margin: 1em auto;
  padding: 1em 2em;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

button:hover{
  text-decoration: none;
  color: #000000;
  background-color: #ffffff; 
}

#up-btn{
  position: fixed;
  right: 25px;
  bottom: 10px;
  z-index: 999;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #f47a1e;
  border-color: #f47a1e;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 2px 4px 1px #2e2828;
  opacity: 0;
  visibility: hidden;
}

#up-btn:hover{
  background-color: #ffffff;
  border-color: #ffffff;
  color: #f47a1e;
}

#up-btn:active{
  background-color: #ffffff;
}

#up-btn.show {
  opacity: 1;
  visibility: visible;
}

header{
    padding: 7px 0;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.navbar-nav{
    margin: auto;
}

.nav-item{
    padding: 0 7px;
}

.nav-item .nav-link{
    font-weight: 600;
    color: #404040!important;
}

#second{
    position: relative;
}

.background-img-banner{
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 30% 100%);
    background-image: linear-gradient(to right, hsl(182deg 98% 35% / 63%) 0%, hsl(170deg 80% 32% / 63%) 65%),url(img/aic-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    position: relative;
}

.background-content-banner{
    position: absolute;
    top: 10%;
    left: 40px;
}

.banner-content{
    color: #10937e;
    padding: 15px 15px;
}

.banner-content p{
    color: #000;
}

.banner-content p{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 200;
}

#mobile-banner{
    background-image: linear-gradient(to right, hsl(182deg 98% 35% / 63%) 0%, hsl(170deg 80% 32% / 63%) 65%),url(img/aic-banner.jpg);
    min-height: 500px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-content{
    color: #fff;
    text-align: center;
    padding: 10px 15px;
}

.mobile-content button{
    border-color: #fff;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

#mobile-banner{
    display: none;
}

#third,
#fourth,
#fifth,
#sixth,
#seventh,
#eighth,
#ninth,
#tenth{
    padding: 30px 0px;
}

.about{
    padding: 5px 15px;
}

.about,.offer-col{
    text-align: center;
}

#fourth,
#sixth,
#eighth,
#tenth{
    background-image: linear-gradient(to right, #005558 0%, #10937e 65%);
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.focus-col{
    text-align: center;
    padding: 15px 15px;
    margin-bottom: 30px;
}

.focus-col img{
    max-width: 100px;
    margin-bottom: 20px;
}

.focus-col h4,
.focus-col p{
    color: #ffffff;
}

.offer-col{
    padding: 10px;
}

.offer-col img{
    width: 96px;
    margin-bottom: 20px;
}

.critirea{
    padding: 0 15px;
}

.critirea ul li{
    position: relative;
    left: 25px;
    color: #ffffff;
}

.critirea ul li:before{
    content: '\f0a9';
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 18px;
    position: absolute;
    left: -25px;
    top: -2px;
}

.partners-img img{
    width: 100%;
    margin-bottom: 10px;
}

.aboutus-content{
    color: #ffffff;
    text-align: justify;
    padding: 0 10px;
}

.aic-img{
    text-align: center;
    margin-bottom: 10px;
}

.aic-img img{
    width: 100%;
    max-width: 380px;
}

.card-header p{
    color: #000000;
}

.btn-link:hover,
.btn-link:focus{
    text-decoration: none;
}

.faq-ques-ans{
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 15px;
    margin: 15px 15px;
}

.footer-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts{
    color: #fff;
    text-align: center;
}

.contacts ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts ul li{
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: 0.5s;
}

.contacts ul li:hover{
    background-color: transparent;
    color: #ffffff;
}

.contacts ul li a{
    color: #000000;
}

.contacts ul li:hover a,
.contacts p a{
    color: #ffffff;
}

.footer-copyright p{
    text-align: center;
    margin: 10px 0;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    letter-spacing: 1.5px;
    color: #000000;
    border-bottom: 1px solid #d5d5d5;
}
  
.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}
  
.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}
  
.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
  
.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.panel-body{
    padding: 10px 15px;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 2em;
    }
    #mobile-banner{
        display: flex;
    }
    #second{
        display: none;
    }
}

:root {
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 1s;
  }
  
  @-webkit-keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(-25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideInleft {
    0% {
      opacity: 0;
      transform: translateX(25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(-25%);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes zoomReverseIn {
    0% {
      opacity: 0;
      transform: scale(1.25);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes zoomReverseIn {
    0% {
      opacity: 0;
      transform: scale(1.25);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @-webkit-keyframes flipInY {
    0% {
      opacity: 0;
      transform: perspective(90vw) rotateY(67.5deg);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes flipInY {
    0% {
      opacity: 0;
      transform: perspective(90vw) rotateY(67.5deg);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  [data-animation] {
    opacity: 0;
    -webkit-animation-timing-function: var(--animation-timing-function);
            animation-timing-function: var(--animation-timing-function);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: var(--animation-duration);
            animation-duration: var(--animation-duration);
    will-change: transform, opacity;
  }
  
  .animations-disabled,
  .animations-disabled [data-animation] {
    -webkit-animation: none !important;
            animation: none !important;
    opacity: 1 !important;
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
            animation-name: slideInDown;
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInleft;
            animation-name: slideInleft;
  }
  
  .slideInRight {
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
  
  .zoomReverseIn {
    -webkit-animation-name: zoomReverseIn;
            animation-name: zoomReverseIn;
  }
  
  .flipInY {
    -webkit-animation-name: flipInY;
            animation-name: flipInY;
  }
  
  .flipOutY {
    -webkit-animation-name: flipInY;
            animation-name: flipInY;
    animation-direction: reverse;
  }